@model CUser
@{
    ViewData["Title"] = "Index";
}


<style>
    ul, #myUL {
        list-style-type: none;
    }

    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        @*width: 300px;*@
        border: 1px solid #ccc5c5;
    }

    #myUL {
        width: 300px;
        max-width: 100%;
        height: 200px;
        overflow: scroll;
    }

    .list-header {
        background: #f1f1f1;
        border: 1px solid #ccc;
        font-weight: bold;
        color: #333;
    }

    .list {
        height: 295px !important;
    }
</style>
<div class="fixed-container">
        <div class="row cont-pad-top1">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center list-header">
                        <label for="DocumentList">Document List</label>
                    </div>
                    <select id="lbCountry" name="sometext" multiple="multiple" class="form-control list">
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-7 col-xs-12">
                <form asp-action="Index" autocomplete="on">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label asp-for="ID"></label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input id="id" asp-for="ID"  class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label asp-for="CONCODE"></label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input id="Code" asp-for="CONCODE" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label asp-for="DESCRIPTION"></label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input id="Description" type="text" asp-for="DESCRIPTION"  class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label asp-for="NDESCRIPTION"></label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input id="DescriptionN" type="text" asp-for="NDESCRIPTION"  class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 block text-right">
                            <input id="btnNew" type="submit" value="New" onclick="btnNew_Click();" class="btn btn-primary" />
                            <input id="btnEdit" type="submit" value="Edit" class="btn btn-info" />
                            <input id="btnSave" type="submit" value="Save"  class="btn btn-success" />
                            <button id="btnCancel" type="button" class="btn btn-danger" onclick="btnCancel_Click();">Cancel</button>
                            @*<input id="btnCancel" type="submit" value="Cancel" onclick="btnCancel_Click();" class="btn btn-danger" />*@

                        </div>
                    </div>
                    <b>@ViewData["Message"]</b>
                </form>
            </div>

            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <span class="important"><b>Note :</b> Code and Document Type must be unique. </span>
                    </div>
                </div>
            </div>
        </div>
</div>


















@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
<script src="C:\Users\ensure\source\repos\AjaxCall\AjaxCall\Scripts\cuse.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        alert('sd');
        debugger;
        loadListBox();
        document.getElementById('btnEdit').disabled = true;
        document.getElementById('btnSave').disabled = true;
    });

    function loadListBox() {
        //alert('asd');
        //var URL = 'https://localhost:44323/JvAjax/List1';
        debugger;
        $.ajax({
            type: "GET",
            url: "@Url.Action("List")",
            contentType: "application/json; chareset=utf-8",
            dataType: "json",
            success: function (data) {
                alert('test');
                if (data.total_records > 0) {
                    var obj = data.data;
                    if (obj == "") {
                        alert('No Country List to load');
                        return;
                    }
                    var ddlCon = $("[id*=lbCountry]");
                    ddlCon.empty();

                    $.each(obj, function (i, item) {
                        alert(item.ID);
                        var OptionValue = item.ID;
                        var OptionText = item.DESCRIPTION;
                        ddlCon.append($("<option></option>").val(OptionValue).html(OptionText));
                    });

                }
                else {
                    alert('No Document to Load !');
                }
            },
            error: function (response) {
                alert(response.error);
            }
        })
    }
</script>


<script>

    function btnNew_Click() {
        //alert('1');
        //document.getElementById('id').disabled = false;
        document.getElementById('Code').disabled = false;
        document.getElementById('Description').disabled = false;
        document.getElementById('DescriptionN').disabled = false;
        document.getElementById('btnEdit').disabled = false;
        document.getElementById('btnSave').disabled = false;
        document.getElementById('btnNew').disabled = true;
        document.getElementById('btnEdit').disabled = true;
    }
    function btnCancel_Click() {
        document.getElementById('Code').disabled = true;
        document.getElementById('Description').disabled = true;
        document.getElementById('DescriptionN').disabled = true;
        document.getElementById('btnEdit').disabled = false;
        document.getElementById('btnSave').disabled = true;
        document.getElementById('btnNew').disabled = false;
        document.getElementById('btnEdit').disabled = true;
        document.getElementById('btnCancel').disabled = false;
        clearTextBox();
    }

    function clearTextBox() {
        document.getElementById('Code').value = "";
        document.getElementById('Description').value = "";
        document.getElementById('DescriptionN').value = "";
    }
</script>








